#### Clean the data..i.e Missing values,Outliers,duplicates and type casting in best possible way.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel(r"C:\Users\CHARISHMA\Downloads\Clean.xlsx")

In [3]:
df

,Unnamed: 0,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,0,1,5.1,3.5,1.4,0,Iris-setosa
1,1,2,4.9,3.0,1.4,0,Iris-setosa
2,2,3,NaN,3.2,1.3,0,Iris-setosa
3,3,4,4.6,3.1,1.5,0,Iris-setosa
4,4,5,5.0,3.6,1.4,0,Iris-setosa
...,...,...,...,...,...,...,...
155,155,156,5.5,2.4,3.8,1,Iris-versicolor
156,156,157,5.4,3.9,1.7,0,Iris-setosa
157,157,158,4.6,3.4,1.4,0,Iris-setosa
158,158,159,6.4,3.2,5.3,2,Iris-virginica
159,159,160,6.5,3.0,5.5,1,Iris-virginica

### Missing values

In [5]:
df.isna().sum()

Unnamed: 0       0
Id               0
SepalLengthCm    4
SepalWidthCm     4
PetalLengthCm    3
PetalWidthCm     0
Species          5
dtype: int64

In [6]:
df['SepalLengthCm'].isna().sum()

4

In [7]:
df[df['SepalLengthCm'].isna()]

,Unnamed: 0,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
2,2,3,NaN,3.2,1.3,0,Iris-setosa
18,18,19,NaN,3.8,1.7,0,Iris-setosa
42,42,43,NaN,3.2,1.3,0,Iris-setosa
126,126,127,NaN,2.8,4.8,1,Iris-virginica

In [5]:
df['SepalLengthCm'].fillna(5.0,inplace = True) #value
df['SepalWidthCm'].fillna(df['SepalWidthCm'].median(),inplace = True)#using statistical measures
df['PetalLengthCm'].fillna(method = 'bfill',inplace = True)#filling method
df['Species'].fillna(df['Species'].mode()[0],inplace = True)#pad

In [6]:
df.isna().sum()

Unnamed: 0       0
Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

### outliers

In [42]:
slc = (df['SepalLengthCm']<0.5)|(df['SepalLengthCm']>8)

In [43]:
sum(slc)

2

In [32]:
df[(df['SepalLengthCm']<0.5)|(df['SepalLengthCm']>8)]

,Unnamed: 0,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
95,95,96,57.0,3.0,4.2,1,Iris-versicolor
117,117,118,77.0,3.8,6.7,2,Iris-virginica

In [44]:
swc = (df['SepalWidthCm']<0.5)|(df['SepalWidthCm']>5)

In [45]:
sum(swc)

1

In [33]:
df[(df['SepalWidthCm']<0.5)|(df['SepalWidthCm']>5)]

,Unnamed: 0,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
97,97,98,6.2,12.9,4.3,1,Iris-versicolor

In [47]:
plc = (df['PetalLengthCm']<0.5)|(df['PetalLengthCm']>7)

In [48]:
sum(plc)

2

In [34]:
df[(df['PetalLengthCm']<0.5)|(df['PetalLengthCm']>7)]

,Unnamed: 0,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
81,81,82,5.5,2.4,37.0,1,Iris-versicolor
121,121,122,5.6,2.8,49.0,2,Iris-virginica

In [29]:
sum((df['PetalWidthCm']<0)|(df['PetalWidthCm']>3))

0

In [59]:
df['SepalLengthCm'] = np.where(slc,df['SepalLengthCm'].median(),df['SepalLengthCm'])
df['SepalWidthCm'] = np.where(swc,df['SepalWidthCm'].median(),df['SepalWidthCm'])
df['PetalLengthCm'] = np.where(plc,df['PetalLengthCm'].median(),df['PetalLengthCm'])

In [60]:
sum((df['SepalLengthCm']<0.5)|(df['SepalLengthCm']>8))

0

In [61]:
sum((df['SepalWidthCm']<0.5)|(df['SepalWidthCm']>5))

0

In [62]:
sum((df['PetalLengthCm']<0.5)|(df['PetalLengthCm']>7))

0

In [63]:
sum((df['PetalWidthCm']<0)|(df['PetalWidthCm']>3))

0

In [ ]:
outliers are cleared

### Duplicates

In [ ]:
To find duplicates, you should first remove the unique id values

In [64]:
df

,Unnamed: 0,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,SepalwidthCm
0,0,1,5.1,3.5,1.4,0,Iris-setosa,3.5
1,1,2,4.9,3.0,1.4,0,Iris-setosa,3.0
2,2,3,5.0,3.2,1.3,0,Iris-setosa,3.2
3,3,4,4.6,3.1,1.5,0,Iris-setosa,3.1
4,4,5,5.0,3.6,1.4,0,Iris-setosa,3.6
...,...,...,...,...,...,...,...,...
155,155,156,5.5,2.4,3.8,1,Iris-versicolor,2.4
156,156,157,5.4,3.9,1.7,0,Iris-setosa,3.9
157,157,158,4.6,3.4,1.4,0,Iris-setosa,3.4
158,158,159,6.4,3.2,5.3,2,Iris-virginica,3.2
159,159,160,6.5,3.0,5.5,1,Iris-virginica,3.0

In [66]:
df.drop('Id',axis =1,inplace = True)

In [67]:
df

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,SepalwidthCm
0,0,5.1,3.5,1.4,0,Iris-setosa,3.5
1,1,4.9,3.0,1.4,0,Iris-setosa,3.0
2,2,5.0,3.2,1.3,0,Iris-setosa,3.2
3,3,4.6,3.1,1.5,0,Iris-setosa,3.1
4,4,5.0,3.6,1.4,0,Iris-setosa,3.6
...,...,...,...,...,...,...,...
155,155,5.5,2.4,3.8,1,Iris-versicolor,2.4
156,156,5.4,3.9,1.7,0,Iris-setosa,3.9
157,157,4.6,3.4,1.4,0,Iris-setosa,3.4
158,158,6.4,3.2,5.3,2,Iris-virginica,3.2
159,159,6.5,3.0,5.5,1,Iris-virginica,3.0

In [69]:
df.drop('Unnamed: 0',axis = 1,inplace = True)

In [70]:
df

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,SepalwidthCm
0,5.1,3.5,1.4,0,Iris-setosa,3.5
1,4.9,3.0,1.4,0,Iris-setosa,3.0
2,5.0,3.2,1.3,0,Iris-setosa,3.2
3,4.6,3.1,1.5,0,Iris-setosa,3.1
4,5.0,3.6,1.4,0,Iris-setosa,3.6
...,...,...,...,...,...,...
155,5.5,2.4,3.8,1,Iris-versicolor,2.4
156,5.4,3.9,1.7,0,Iris-setosa,3.9
157,4.6,3.4,1.4,0,Iris-setosa,3.4
158,6.4,3.2,5.3,2,Iris-virginica,3.2
159,6.5,3.0,5.5,1,Iris-virginica,3.0

In [71]:
df.duplicated().sum()

18

In [72]:
df[df.duplicated()]

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,SepalwidthCm
17,5.1,3.5,1.4,0,Iris-setosa,3.5
34,4.9,3.1,1.5,0,Iris-setosa,3.1
37,4.9,3.1,1.5,0,Iris-setosa,3.1
42,5.0,3.2,1.3,0,Iris-setosa,3.2
45,4.8,3.0,1.4,0,Iris-setosa,3.0
132,6.4,2.8,5.6,2,Iris-virginica,2.8
142,5.8,2.7,5.1,1,Iris-virginica,2.7
144,6.7,3.3,5.7,2,Iris-virginica,3.3
150,6.1,2.9,4.7,1,Iris-versicolor,2.9
151,5.6,2.9,3.6,1,Iris-versicolor,2.9
152,6.7,3.1,4.4,1,Iris-versicolor,3.1
153,5.6,3.0,4.5,1,Iris-versicolor,3.0
154,5.7,2.6,3.5,1,Iris-versicolor,2.6
155,5.5,2.4,3.8,1,Iris-versicolor,2.4
156,5.4,3.9,1.7,0,Iris-setosa,3.9
157,4.6,3.4,1.4,0,Iris-setosa,3.4
158,6.4,3.2,5.3,2,Iris-virginica,3.2
159,6.5,3.0,5.5,1,Iris-virginica,3.0

In [73]:
df.drop_duplicates(keep = 'first',inplace = True)

In [74]:
df.duplicated().sum()

0

### Type casting

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 142 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  142 non-null    float64
 1   SepalWidthCm   142 non-null    float64
 2   PetalLengthCm  142 non-null    float64
 3   PetalWidthCm   142 non-null    int64
 4   Species        142 non-null    object
 5   SepalwidthCm   142 non-null    float64
dtypes: float64(4), int64(1), object(1)
memory usage: 7.8+ KB

In [76]:
df['SepalLengthCm']= df['SepalLengthCm'].astype('float16')

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 142 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  142 non-null    float16
 1   SepalWidthCm   142 non-null    float64
 2   PetalLengthCm  142 non-null    float64
 3   PetalWidthCm   142 non-null    int64
 4   Species        142 non-null    object
 5   SepalwidthCm   142 non-null    float64
dtypes: float16(1), float64(3), int64(1), object(1)
memory usage: 6.9+ KB

In [82]:
df['SepalWidthCm']= df['SepalWidthCm'].astype('float16')

In [79]:
df['PetalLengthCm']= df['PetalLengthCm'].astype('float16')

In [80]:
df['PetalWidthCm']= df['PetalWidthCm'].astype('float16')

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 142 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  142 non-null    float16
 1   SepalWidthCm   142 non-null    float16
 2   PetalLengthCm  142 non-null    float16
 3   PetalWidthCm   142 non-null    float16
 4   Species        142 non-null    object
 5   SepalwidthCm   142 non-null    float64
dtypes: float16(4), float64(1), object(1)
memory usage: 4.4+ KB

In [85]:
df.isna().sum()

SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
SepalwidthCm     0
dtype: int64