In [ ]:
pandas Series
1.Create pandas series with different data types in different ways
2.Find the attributes of Series of [10,30,40,1,3,6,14,18,23] with index starts from 100
3.create salaries of 30 employee salaries randomly from 30000-90000 then measure and describe the data using pandas series.
4.What are the similaraties and differences between pandas series and nnumpy array.Prove it with code.
5.create pandas series with ranges from 100 to 150 then apply indexing and slicing on it.

#### 1.Create pandas series with different data types in different ways

In [1]:
import pandas as pd

In [29]:
import numpy as np

In [2]:
creation = pd.Series()

In [3]:
type(creation)

pandas.core.series.Series

In [7]:
#from list
val = list(range(1,20,))
val

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [8]:
pd.Series(val)

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
dtype: int64

In [9]:
#from tuple
val2 = ("identifiers","operators","datatypes","flow control","functions","file handling","exception handling","modules")
val2

('identifiers',
 'operators',
 'datatypes',
 'flow control',
 'functions',
 'file handling',
 'exception handling',
 'modules')

In [10]:
pd.Series(val2)

0           identifiers
1             operators
2             datatypes
3          flow control
4             functions
5         file handling
6    exception handling
7               modules
dtype: object

In [11]:
val3 = {'Akanshka':40.2,'Bhavya':40.5,'chaitra':41.2,'dedepya':42.2}
val3

{'Akanshka': 40.2, 'Bhavya': 40.5, 'chaitra': 41.2, 'dedepya': 42.2}

In [12]:
pd.Series(val3)

Akanshka    40.2
Bhavya      40.5
chaitra     41.2
dedepya     42.2
dtype: float64

In [30]:
val4 = np.array([1,2,3,4,5,6,7,8,9,10])
val4

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [31]:
#from nparray
pd.Series(val4)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int32

#### 2.Find the attributes of Series of [10,30,40,1,3,6,14,18,23] with index starts from 100

In [16]:
att = pd.Series([10,30,40,1,3,6,14,18,23],index = list(range(100,109)))
att

100    10
101    30
102    40
103     1
104     3
105     6
106    14
107    18
108    23
dtype: int64

In [17]:
att.nbytes

72

In [18]:
att.size

9

In [19]:
att.dtype

dtype('int64')

In [20]:
att.astype('int8')

100    10
101    30
102    40
103     1
104     3
105     6
106    14
107    18
108    23
dtype: int8

In [21]:
att.head(3)

100    10
101    30
102    40
dtype: int64

In [22]:
att.tail(7)

102    40
103     1
104     3
105     6
106    14
107    18
108    23
dtype: int64

In [27]:
att.info()

<class 'pandas.core.series.Series'>
Index: 9 entries, 100 to 108
Series name: None
Non-Null Count  Dtype
--------------  -----
9 non-null      int64
dtypes: int64(1)
memory usage: 144.0 bytes

In [26]:
att.describe()

count     9.000000
mean     16.111111
std      13.033078
min       1.000000
25%       6.000000
50%      14.000000
75%      23.000000
max      40.000000
dtype: float64

#### 3.create salaries of 30 employee salaries randomly from 30000-90000 then measure and describe the data using pandas series.

In [35]:
sal = pd.Series(np.random.randint(30000,90000,30))
sal

0     38307
1     85205
2     79504
3     43529
4     89850
5     58964
6     50891
7     44122
8     86878
9     86188
10    71067
11    47444
12    67669
13    45356
14    31033
15    78755
16    31349
17    43739
18    31598
19    44668
20    60581
21    41376
22    33970
23    40755
24    78814
25    54959
26    60969
27    70569
28    30344
29    58651
dtype: int32

#### Measure

In [37]:
#mean
sal.mean()

56236.8

In [38]:
#median
sal.median()

52925.0

In [39]:
#mode
sal.mode()

0     30344
1     31033
2     31349
3     31598
4     33970
5     38307
6     40755
7     41376
8     43529
9     43739
10    44122
11    44668
12    45356
13    47444
14    50891
15    54959
16    58651
17    58964
18    60581
19    60969
20    67669
21    70569
22    71067
23    78755
24    78814
25    79504
26    85205
27    86188
28    86878
29    89850
dtype: int32

In [41]:
sal.max()

89850

In [42]:
sal.min()

30344

In [43]:
#range
range = sal.max()-sal.min()
range

59506

In [44]:
#variance
sal.var()

365788292.3034484

In [45]:
#IQR
q1 = sal.quantile(0.25)
q1

41914.25

In [46]:
q3 = sal.quantile(0.75)
q3

70942.5

In [49]:
#IQR
IQR = q3-q1
IQR

29028.25

In [50]:
#standard deviation
sal.std()

19125.59260005944

In [36]:
sal.describe()

count       30.0000
mean     56236.8000
std      19125.5926
min      30344.0000
25%      41914.2500
50%      52925.0000
75%      70942.5000
max      89850.0000
dtype: float64

#### 4.What are the similaraties and differences between pandas series and nnumpy array.Prove it with code.

#### similarities 
* Both are used to work with dimensional arrays
#### Differences
* In pandas series values are represented with index number whereas in numpy it represents normally
* numpy is not applicable for categorical data, whereas in pandas series we can work with categorical data
* In pandas series mode function is available
* pandas series is heterogeneous,numpy is homogeneous
* pandas series is one dimensional,numpy is n dimensional

In [52]:
arr1np = np.random.randint(100,300,20)
arr1np

array([284, 226, 136, 269, 194, 297, 140, 251, 199, 132, 260, 235, 207,
       115, 197, 113, 255, 244, 126, 134])

In [54]:
arr2pd = pd.Series(np.random.randint(100,300,20))
arr2pd   #indexed

0     168
1     261
2     247
3     132
4     148
5     296
6     150
7     205
8     179
9     251
10    137
11    242
12    235
13    113
14    148
15    273
16    277
17    199
18    185
19    242
dtype: int32

In [56]:
pd.Series(['apple','banana','cherry','grapes','papaya','guava','kiwi']) #categorical data

0     apple
1    banana
2    cherry
3    grapes
4    papaya
5     guava
6      kiwi
dtype: object

In [58]:
hetero = pd.Series(['Akshaya','Bhavana',300,400])
hetero  #heterogeneous

0    Akshaya
1    Bhavana
2        300
3        400
dtype: object

In [59]:
type(hetero) #series #1dim

pandas.core.series.Series

In [60]:
type(arr1np) #ndim

numpy.ndarray

#### 5.create pandas series with ranges from 100 to 150 then apply indexing and slicing on it.

In [3]:
slicing = pd.Series(list(range(100,150)))
slicing

0     100
1     101
2     102
3     103
4     104
5     105
6     106
7     107
8     108
9     109
10    110
11    111
12    112
13    113
14    114
15    115
16    116
17    117
18    118
19    119
20    120
21    121
22    122
23    123
24    124
25    125
26    126
27    127
28    128
29    129
30    130
31    131
32    132
33    133
34    134
35    135
36    136
37    137
38    138
39    139
40    140
41    141
42    142
43    143
44    144
45    145
46    146
47    147
48    148
49    149
dtype: int64

In [4]:
indexing = pd.Series(slicing,index = list(range(1,50)))
indexing

1     101
2     102
3     103
4     104
5     105
6     106
7     107
8     108
9     109
10    110
11    111
12    112
13    113
14    114
15    115
16    116
17    117
18    118
19    119
20    120
21    121
22    122
23    123
24    124
25    125
26    126
27    127
28    128
29    129
30    130
31    131
32    132
33    133
34    134
35    135
36    136
37    137
38    138
39    139
40    140
41    141
42    142
43    143
44    144
45    145
46    146
47    147
48    148
49    149
dtype: int64

In [6]:
indexing[1]

101

In [7]:
indexing[1:25]

2     102
3     103
4     104
5     105
6     106
7     107
8     108
9     109
10    110
11    111
12    112
13    113
14    114
15    115
16    116
17    117
18    118
19    119
20    120
21    121
22    122
23    123
24    124
25    125
dtype: int64

In [8]:
indexing[1:50:3]

2     102
5     105
8     108
11    111
14    114
17    117
20    120
23    123
26    126
29    129
32    132
35    135
38    138
41    141
44    144
47    147
dtype: int64

In [9]:
indexing[-1: :-1]

49    149
48    148
47    147
46    146
45    145
44    144
43    143
42    142
41    141
40    140
39    139
38    138
37    137
36    136
35    135
34    134
33    133
32    132
31    131
30    130
29    129
28    128
27    127
26    126
25    125
24    124
23    123
22    122
21    121
20    120
19    119
18    118
17    117
16    116
15    115
14    114
13    113
12    112
11    111
10    110
9     109
8     108
7     107
6     106
5     105
4     104
3     103
2     102
1     101
dtype: int64