1. Write a function called "add_numbers" that takes two integers as input and returns their sum.

2. Write a function called "multiply_numbers" that takes two integers as input and returns their product.

3. Write a function called "calculate_average" that takes a list of numbers as input and returns the average of thosenumbers.

4. Write a function called "is_even" that takes an integer as input and returns True if the number is even, and False otherwise.

5. Write a function called "reverse_string" that takes a string as input and returns the reverse of that string.

6. Write a function called "count_vowels" that takes a string as input and returns the number of vowels (a, e, i, o, u) in that string.

7. Write a function called "find_max" that takes a list of numbers as input and returns the maximum value in that list.

8. Write a function called "find_min" that takes a list of numbers as input and returns the minimum value in that list.

#### 1. Write a function called "add_numbers" that takes two integers as input and returns their sum.

In [1]:
def add_numbers(a,b):
    return(a+b)

In [2]:
add_numbers(5,10)  #position based

15

#### 2. Write a function called "multiply_numbers" that takes two integers as input and returns their product.

In [3]:
def multiply_numbers(a,b):
    return(a*b)

In [4]:
multiply_numbers(a=7,b=10)    #keyword based

70

#### 3. Write a function called "calculate_average" that takes a list of numbers as input and returns the average of thosenumbers.

In [20]:
def calculate_average(a,b):
    return(sum (values)/len(values))
values = [3,4,5,6,7]
a = sum(values)
b = len(values)

In [21]:
values = [3,4,5,5,6]

In [22]:
sum(values)

23

In [23]:
len(values)

5

In [24]:
calculate_average(a,b)

4.6

#### Write a function called "is_even" that takes an integer as input and returns True if the number is even, and False otherwise.

In [25]:
def is_even(n):
    if n%2==0:
        return True
    else:
        return False

In [26]:
is_even(7)

False

In [27]:
is_even(8)

True

#### 5. Write a function called "reverse_string" that takes a string as input and returns the reverse of that string.

In [34]:
name = input("Enter a string :")
def reverse_string(name):
    return(name[-1: :-1])

Enter a string :Godavari

In [35]:
reverse_string(name)

'iravadoG'

#### 6. Write a function called "count_vowels" that takes a string as input and returns the number of vowels (a, e, i, o, u) in that string.

In [30]:
text = input("Enter a string : ")
vowels = ['a','e','i','o','u']
count = []
def count_vowels(text):
    for i in text:
        if i in vowels:
            count.append(i)
    print("Number of vowels in given text are :",len(count))

Enter a string : charishma

In [31]:
count_vowels(text)

Number of vowels in given text are : 3

#### 7. Write a function called "find_max" that takes a list of numbers as input and returns the maximum value in that list.

In [17]:
list1 = [23,45,6,7,8,98]
def find_max(list1):
    return(max(list1))

In [18]:
find_max(list1)

98

In [21]:
def find_max(a,b,c,d,e,f):
    return(max(a,b,c,d,e,f))

In [22]:
find_max(23,45,6,7,8,98)

98

#### 8. Write a function called "find_min" that takes a list of numbers as input and returns the minimum value in that list.

In [15]:
def find_min(a,b,c,d,e):
    return(min(a,b,c,d,e))

In [16]:
find_min(34,56,78,20,45)

20