Task 1: `Counting Numbers`
    
    write a program that prints the numbers from 1 to 10, each on a new line.


Task 2: `Even Numbers`

    write a program that prints the even numbers from 1 to 20, each on a new line.


Task 3: `Square Numbers`

    Write a program that calculates and prints the square of each number from 1 to 5.


Task 4: `Multiples of Three`

    write a program that prints the multiples of 3 from 3 to 30, each on a new line.

Task 5: `Reverse Counting`

    Write a program that prints the numbers from 10 to 1 in descending order, each on a new line.

#### write a program that prints the numbers from 1 to 10, each on a new line.

In [1]:
#using for loop
n = int(input("Enter a number : "))
for i in range(1,n+1):
    print(i)

Enter a number : 10
1
2
3
4
5
6
7
8
9
10

In [2]:
#using while loop
n = 1
while n<=10:
    print(n)
    n = n+1

1
2
3
4
5
6
7
8
9
10

#### write a program that prints the even numbers from 1 to 20, each on a new line.

In [3]:
#using for loop
for i in range(1,21):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [1]:
#using while loop
n = 1
while n<=20:
    if n%2==0:
        print(n)
    n = n+1

2
4
6
8
10
12
14
16
18
20

#### Write a program that calculates and prints the square of each number from 1 to 5.

In [2]:
#using for loop
for i in range(1,6):
    print(i**2)

1
4
9
16
25

In [3]:
#using while loop
n=1
while n<=5:
    print(n**2)
    n = n+1

1
4
9
16
25

#### write a program that prints the multiples of 3 from 3 to 30, each on a new line.

In [4]:
#using for loop
for i in range(1,31):
    if i%3==0:
        print(i)

3
6
9
12
15
18
21
24
27
30

In [1]:
#using while loop
n = 1
while n<=30:
    if n%3==0:
        print(n)
    n = n+1

3
6
9
12
15
18
21
24
27
30

####  Write a program that prints the numbers from 10 to 1 in descending order, each on a new line.

In [2]:
#using for loop
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [3]:
#using while loop
n = 10
while n>0:
    print (n)
    n = n-1

10
9
8
7
6
5
4
3
2
1